<div>
  <h1>Measurements Sampler</h1>

  <div>
    <input
      type="file"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <button
      (click)="fileUpload.click()"
    >
      Import Measurements File
    </button>
  </div>

  <div>
    @if (sampledMeasurements.length) {
    <h2>Sampled Measurements</h2>
    <div>
      <table>
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          @for (measurement of sampledMeasurements; track $index) {
          <tr>
            <td>{{ measurement.timestamp }}</td>
            <td>{{ measurement.measurement_type }}</td>
            <td>{{ measurement.value.toFixed(2) }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @else {
      <p>No data has been imported yet!</p>
    }
  </div>
</div>
