<div id="container">
  <h1>Measurements Sampler</h1>

  <div>
    <input
      type="file"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <button (click)="fileUpload.click()">Import Measurements File</button>
  </div>

  <div>
    @if (errorMessage) {
      <div id="error">
        {{ errorMessage }}
      </div>
    }
  </div>

  <div>
    @if (sampledMeasurements.length) {
    <h2>Sampled Measurements</h2>
    <div>
      <table id="data">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          @for (measurement of sampledMeasurements; track $index) {
          <tr>
            <td>{{ measurement.timestamp }}</td>
            <td>{{ measurement.measurement_type }}</td>
            <td>{{ measurement.value.toFixed(2) }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @else {
    <br />
    <br />
    <br />
    <i>Import a data file to get sampled results</i>
    }
  </div>
</div>
